<h1 class="zagatpage" align="center">Акт о возврате</h1>
<% form_for :pr do %>
<p class="zagmin"> 
ООО «Инкард»

Код
115516, г. Москва, Кавказский б-р, д.54, стр. 5 , тел. 544-51-92
Форма по ОКУД
0330202


по ОКПО

(организация, адрес, номер телефона)



(структурное подразделение)
Вид деятельности по ОКДП

Основание для составления акта
приказ, распоряжение
номер


(ненужное зачеркнуть)
дата
01
06
2009


Вид операции





УТВЕРЖДАЮ Руководитель



Номер документа
Дата составления













А К Т
1
01.06.09


(должность)
















(подпись)

(расшифровка подписи)

ОБ УСТАНОВЛЕННОМ РАСХОЖДЕНИИ ПО КОЛИЧЕСТВУ


“

”



г.










И КАЧЕСТВУ ПРИ ПРИЕМКЕ ТОВАРНО-МАТЕРИАЛЬНЫХ ЦЕННОСТЕЙ


Место приемки товара	 Кавказский б-р, д.54 стр.5

Настоящий акт составлен комиссией, которая установила:
“
01

”
июня

2009
г.
по сопроводительным документам	накладная №1018 от 26.05.09
(наименование, номер, дата)


доставлен  товар. Документ о вызове представителя  грузоотправителя, поставщика, производителя:
(ненужное зачеркнуть)
телеграмма, факс, телефонограмма, радиограмма
№

от “

”



г.
(ненужное зачеркнуть)








Грузоотправитель
(наименование, адрес, номер телефона)
Производитель
(наименование, адрес, номер телефона)
Поставщик
(наименование, адрес, номер телефона)
Страховая компания
(наименование, адрес, номер телефона)
Договор (контракт) на поставку товара №

от
“

”



г.
Счет-фактура  №
1347
от
“
26
”
мая

2009
г.
Коммерческий акт  №

от
“

”



г.
Ветеринарное свидетельство (свидетельство) №

от
“

”



г.
Железнодорожная накладная  №

от
“

”



г.

Способ доставки
автотранспорт
№



(вид транспортного средства)



Дата отправления товара  “
26
”
мая

2009
г.

со станции (пристани, порота) отправления



(наименование)

или со склада отправителя товара
ООО «Ламис»


(наименование)

ДАТА, ВРЕМЯ, ч. мин.
прибы­тия то­ва­ра на стан­цию (прис­тань, порт) наз­на­че­ния
вскрытия ва­го­на, авто­фур­го­на, контей­не­ра
выдачи то­ва­ра  ор­га­ни­за­цией транс­порта
достав­ки то­ва­ра на склад ор­га­ни­за­ции-полу­ча­те­ля
нача­ла раз­груз­ки
приемки товара





начало
приоста­нов­ле­ние
во­зоб­нов­ле­ние
окон­ча­ние










2-я страница формы № ТОРГ-2
Сведения о состоянии вагонов, автофургонов и т. д. Наличие, описание упаковочных ярлыков, пломб транспорта на отдельных местах  (сертификатов, спецификаций в вагоне, контейнере) и отправительская маркировка

По сопроводительным транспортным документам значится:
Отмет­ка об оп­лом­ би­ро­ва­нии то­ва­ра (гру­за), сос­то­яние пломб и со­дер­жа­ние от­тис­ка
Ко­ли­чес­тво мест
Вид упа­ков­ки
Наиме­но­ва­ние то­ва­ра (гру­за) или но­ме­ра ва­го­нов (контей­не­ров, авто­ фур­го­нов и т.д.)
Еди­ни­ца из­ме­ре­ния
Масса брут­то то­ва­ра (гру­за)
по до­ку­мен­там
Осо­бые от­мет­ки от­пра­ви­те­ля по нак­лад­ной





от­пра­ви­те­ля
транс­порт­ной ор­га­ни­за­ции (стан­ции, при­ста­ни, пор­та)

1
2
3
4
5
6
7
8



Сведения о состоянии вагонов, автофургонов и т.д. Наличие, описание установленных ярлыков, пломб транспорта на отдельных местах (сертификатов, спецификации в вагоне, контейнере)
фактически





Рас­хож­де­ние по ко­ли­чес­тву мест и мас­се
в ак­ти­ру­емой пар­тии то­ва­ра, об­на­ру­жен­
ные на скла­де то­ва­ро­по­лу­ча­те­ля
Ко­ли­чес­тво мест
Масса, кг
Сте­пень за­пол­не­ния тар­но­го мес­та, ва­го­на, кон­тей­не­ра и т.п.


брут­то
та­ра
нет­то

По до­ку­мен­там гру­зо­от­пра­ви­те­ля





Фак­ти­чес­ки пос­ту­пи­ло





Рас­хож­де­ние (+, -)






То­вар
(на­име­но­ва­ние)
Но­мер
 мес­та
Еди­ни­ца
из­ме­ре­ния
По документам поставщика значится


на­име­но­ва­ние
код по ОКЕИ





ар­ти­кул то­ва­ра
сорт
ко­ли­чест­во (мас­са)
це­на,
 руб. коп.
сум­ма,
руб. коп.
1
2
3
4
5
6
7
8
9
3F-307 Вишня ПП-пленка/140мк/1400мм

М2
055


2100
39,14
82195,26













































3-я страница формы №ТОРГ-2
Условия хранения товара (продукции) до его вскрытия на складе получателя:




Сведения о температуре при разгрузке в вагоне (рефрижераторе и т.д.) в товаре, 0С

Состояние тары и упаковки, маркировка мест, товара и тары в момент внешнего осмотра товара (продукции)	тара и упаковка не нарушены





Содержание наружной маркировки тары и другие данные, на основании которых можно сделать выводы о том, в чьей упаковке предъявлен товар (производителя или отправителя)

Маркировка товара не нарушена



Дата вскрытия тары
“
28
”
мая

2009
г.
Организация, которая взвесила и опломбировала отгруженный товар, исправность пломб и содержание оттисков, соответствие пломб товаросопроводительным документам


Порядок отбора товара (продукции) для выборочной проверки с указанием ГОСТ, особых условий  поставки по договору (контракту), основание выборочной проверки:















Фак­ти­чес­ки ока­за­лось
Брак
Бой
Отклонения
Но­мер
пас­пор­та
арт­и­кул то­ва­ра
сорт
ко­ли­чест­во (мас­са)
це­на, руб. коп.
сум­ма, руб. коп.
ко­ли­че­ство (мас­са)
сум­ма, руб. коп.
ко­ли­че­ство (мас­са)
сум­ма, руб. коп.
не­дос­та­ча
из­лиш­ки










ко­ли­че­ство (мас­са)
сум­ма, руб. коп.
ко­ли­че­ство (мас­са)
сум­ма, руб. коп.

10
11
12
13
14
15
16
17
18
19
20
21
22
23


1908,2
39,14
74686,95




191,80
7507,05



4-я страница формы №ТОРГ-2
Определение количества товара (продукции) проводилось  промером
(взвешиванием, счетом мест, обмером и т. п.,
Кавказский б-р, д.54, стр5
место определения количества товара (продукции))

Взвешивание товаров (продукции) проводилось на исправных весах, проверенных в установленном порядке. Сведение об исправности весоизмерительных приборов (тип весов, год клеймения)




Другие данные




По остальным товарно-материальным ценностям, перечисленным в сопроводительных документах поставщика, расхождений в количестве и качестве нет.
Подробное описание дефектов (характер недостачи, излишков, ненадлежащего качества, брака, боя) и мнение комиссии о причинах их образования







Заключение комиссии  недостача 3F-307 Вишня ПП-пленка/140мк/1400мм в количестве 191,8кв. м







Члены комиссии предупреждены об ответственности за подписание акта, содержащего данные, не соответствующие действительности.
Председатель комиссии
Генеральный директор



Бабаев А.Е.

(место работы, должность)

(подпись)

(расшифровка подписи)
Члены комиссии:
Зав.складом



Евтимьева Т.Н.

(место работы, должность)

(подпись)

(расшифровка подписи)

Кладовщик



Чибрякова Н.В.

(место работы, должность)

(подпись)

(расшифровка подписи)

Оператор станка



Одарюк О.В.

(место работы, должность)

(подпись)

(расшифровка подписи)
Представитель грузоотправителя (поставщика, производителя)





(место работы, должность)

(подпись)

(расшифровка подписи)
Документ, удостоверяющий полномочия

№

выдан  “

”



г.

Акт с приложением на

листах получил

Главный (старший) бухгалтер




(подпись)

(расшифровка подписи)
Решение руководителя  ________________________________________________________________

</p>
<br/>
<%= submit_tag 'Печать' %><br/>
<%end%>