<h1 class="zagatpage" align="center">Поставки</h1>


<% form_for :update_type do |s| %>
        <%= s.radio_button("type", "deld", :checked => true) %>Искать для удаления<br/>
        <%= s.radio_button("type", "updd") %>Искать для редактирования<br/><br/>

        <%= submit_tag "Искать" %>

    <%end%>