<h1 class="zagatpage" align="center">Редактирование заказов</h1>


<% form_for :update_type do |s| %>
        <%= s.radio_button("type", "del", :checked => true) %>Искать для удаления<br>
        <%= s.radio_button("type", "update") %>Искать для редактирования<br/><br/>
       
        <%= submit_tag "Искать" %>
        
    <%end%>
    

