<h1 class="zagatpage" align="center">Редактирование данных о поставщике</h1>


<% form_for :update_type do |s| %>
        <%= s.radio_button("type", "delp", :checked => true) %>Искать для удаления<br/>
        <%= s.radio_button("type", "updp") %>Искать для редактирования<br/><br/>

        

        <%= submit_tag "Искать" %>
        
    <%end%>
    