/* 
    Document   : director
    Created on : 20.04.2010, 21:17:17
    Author     : Alena
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

.zagolovok {
    
    font-size: 150%;
    text-decoration:underline;

}
.mainmenu{font-family: "Arial";
font-size: 120%;
float: left;
	width: 350px;
        border-right: 3px solid black;
}

.right { padding-left: 370px;
	
}

li{
 list-style-type: none;}

a {color: black;
text-decoration: none}

