/* 
<<<<<<< HEAD
    Document   : forall
    Created on : 10.05.2010, 22:11:26
    Author     : dmitry
=======
    Document   : director
    Created on : 20.04.2010, 21:17:17
    Author     : Alena
>>>>>>> 562dc8a60f8cac891902197ebf03aa33178099cf
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root {
    display: block;
}

.zagolovok {
    font-size: 150%;
    text-decoration:underline;

}
.mainmenu{font-family: "Arial";
font-size: 120%;
float: left;

	width: 400px;
        border-right: 3px solid black;
}


.right { padding-left: 370px;
	
}

li{
 list-style-type: none;}

a {color: black;
}