<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>рабочее место:Начальник производства</title>
        <%= stylesheet_link_tag 'forall' %>

  </head>




<body>
  <div class="mainmenu">
  Рабочее мето : Директор
   <ul>
     <li class="zagolovok">Поросмотр заказ-нарядов</li>
     <ul>
        <li><%= link_to 'Новые заказ-наряды' , :action =>"neworder"%> </li>
         <li><%= link_to 'Текущие заказ-наряды',:action =>"noworder"%> </li>
         


        </ul>

     <li class="zagolovok">Работа с комплектующими</li>
     <ul>
        <li>Просмотр/резервирование </li>
         <li>Подать заявку </li>
         <li>Удалить заявку</li>
        

        </ul>


     <li class="zagolovok">Учет готовой продукции</li>
     <li class="zagolovok">Набор комплектующих</li>
     <ul>
        <li>Добавление набора </li>
         <li>Редактирование/удаление набора </li>
         <li>Просмотр набора</li>


        </ul>




   </ul>
  </div>
  <div class="right"><%= yield :layout %>
    </div>
</body>
</html>


